@model X.PagedList.IPagedList<NewsEntities.Concrete.News>

@{
    ViewData["Title"] = "News";
}

<h2>News</h2>

@foreach (var item in Model)
{
<div class="card-body d-flex flex-column align-items-start">
    <strong class="d-inline-block mb-2 text-primary">@item.Category.Name</strong>
    <h3 class="mb-1 ">
        @item.Title
    </h3>
    <h5 class="mb-3">
       @item.Subtitle
    </h5>

    <div class="mb-1 text-muted">@item.CreatedOn.ToShortDateString()</div>
    <p class="card-text mb-auto">@String.Join(" ", item.Text.Split(' ', '.').Take(60))</p>
    <a asp-action="Detail" asp-route-id="@item.Id">Continue Reading</a>
</div>
}
@Html.PagedListPager(
    Model,
    page => Url.Action("News", "Home", new { categoryname = Model.First().Category.Name, page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayEllipsesWhenNotShowingAllPageNumbers=false


})

